
@keyframes slide {
	0% { transform: translateX(0); }
	10% { transform: translateX(0); }

	15% { transform: translateX(-100%); }
	30% { transform: translateX(-100%); }

	35% { transform: translateX(-200%); }
	50% { transform: translateX(-200%); }

	55% { transform: translateX(-300%); }
	70% { transform: translateX(-300%); }

	75% { transform: translateX(-400%); }
	90% { transform: translateX(-400%); }

	95% { transform: translateX(-500%); }
	100% { transform: translateX(-500%); }
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	outline: none; border: none;
	text-decoration: none;
	transition: .2s linear;
	box-sizing: border-box; 
}


body {
	font-family: sans-serif;
}

.wrapper {
	padding-top: 100px;
	max-width: 1200px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.slider {
	position: relative;
}

.slides {
	position: relative;
	display: flex;
	overflow: hidden;
}

.slide {
	width: 100%;
	flex-shrink: 0;
	animation-name: slide;
	animation-duration: 20s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.slides:hover .slide {
	animation-play-state: paused;
}

.slide img {
	width: 100%;
	vertical-align: top;
}

.slide a {
	width: 100%;
	display: inline-block;
	position: relative;
}

.caption {
	color: white;
	text-shadow: 1px 1px black;
	font-size: 8vw;
	position: absolute;
	bottom: 8vw;
	right: 4vw;
}

.slide:target {
	animation-name: none;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
}

.slider-controler {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	padding: 5px;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
}

.slider-controler li {
	margin: 0 0.5rem;
	display: inline-block;
	vertical-align: top;
}

.slider-controler a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: white;
	font-size: 1.5rem;
}

@media only screen and (min-width: 1200px) {
	.slide {
		width: 1200px;
	}

	.caption {
		font-size: 96px;
		bottom: 96px;
		right: 50px;
	}
}



html{
	font-size: 62.5%;
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
}


section {
    padding:7rem;
}

.heading{
	text-align: center;
	font-size: 4rem;
	color: #333;
	padding: 1rem;
	margin: 2rem 0;
	background: rgba(220, 208, 255, .100);
}

.heading2{
	text-align: center;
	font-size: 4rem;
	color: #333;
	padding: 1rem;
	margin: 2rem 0;
	background: rgba(220, 208, 255, .100);
}

.heading2 span{
	color:var(--lilac)
}

.heading span{
	color:var(--lilac)
}

.btn{
	display: inline-block;
	margin-top: 1rem;
	border-radius: 5rem;
	background: #2b1055;
	color: #fff;
	padding: .9rem 3.5rem;
	cursor: pointer;
	font-size: 1.7rem;
}

.btn:hover{
	background: #000;
	color: #fff;
}

.btn1{
	display: inline-block;
    margin-top: 1rem;
	margin-left: 2rem;
    border-radius: 5rem;
    background: #fff;
    color: #000;
    padding: 6px 15px;
    cursor: pointer;
    font-size: 1rem;
	border:  0.1rem solid rgba(0,0,0,.1);
}

.btn1:hover{
	background: #000;
	color: #fff;
}

header{
	position: fixed;
	top: 0; left: 0; right: 0;
	background: #fff;
	padding: 10px 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}


header .navbar a{
	text-decoration: none;
    padding: 6px 15px;
    color: #000;
    border-radius: 20px;
	margin-left: 20px;
}

header .navbar a:hover{
	background: #2b1055;
	color: #fff;
}

header #toggler{
	display: none;
}

header .fa-bars{
	font-size: 3rem;
	color: #333;
	border-radius: .5rem;
	padding: .5rem 1.5rem;
	cursor: pointer;
	border: .1rem solid rgba(0,0,0,.3);
	display: none;
}

.Acercade h2{
	font-size: 3rem;
	margin-bottom: 10px;
	color: #666;
	padding-top: 130px;
	vertical-align: inherit;
	text-align: center;
}

.Acercade p{
	font-size: 1.5rem;
	padding: 0 50px;
	color: #666;
    margin: 0 0 19.44444px;
	list-style: none;
	vertical-align: inherit;
}

.Acercade img{
	height: 100%;
	padding: 3rem;
	align-items: center;
	width: 100%;
	border-radius: 10%;
}

.Acercade iframe{
	padding: 3rem;
	align-items: center;
	float: none;
	justify-content: center;
	height: 60rem;
	width: 100%;
	
}


.box-container {
    padding: 0 30px;
	color: #fff;
    background-color: #232854;
}

.credit
{
	padding: 0 30px;
	color: #fff;
    background-color: #232854;
}





.footer
{
	padding: 2rem;
    color: #fff;
    background-color: #232854;
}

.footer .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    flex: 1 1 25rem;
}

.footer .box-container .box h3 {
    color: #fff;
    font-size: 2.5rem;
    padding: 1rem 0;
}

.footer .box-container .box p {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a {
    display: block;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.footer .box-container .box a:hover{
	color: #B7D5E5;
	text-decoration: underline;
}

.footer .box-container .box img {
    margin-top: 1rem;
	padding: 5px 1px;
}

.footer .box-container .box a img {
    display: block;
    color: #fff;
    padding: 3px;
    margin-top: -13px;
}

.footer .credit {
    text-align: center;
    padding: 1.5rem;
    padding-top: 2.5rem;
    font-size: #fff;
    border-top: 0.1rem solid rgba(0,0,0,.1);
}

.footer .credit span {
    color: #fff;
}

label {
	background: #444;
	color: #fff;
	transition: transform 400ms ease-out;
	display: inline-block;
  min-height: 100%;
	width: 100vw;
	height: 100vh;
	position: relative;
	z-index: 1;
	text-align: center;
	line-height: 100vh;
}

form {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
}
input {
	position: absolute;
}

.keys {
	position: fixed;
	z-index: 10;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	color: #fff;
	text-align: center;
	transition: all 300ms linear;
	opacity: 0;
}

input:focus ~ .keys {
	opacity: 0.8;
}

input:nth-of-type(1):checked ~ label:nth-of-type(1), 
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3),
input:nth-of-type(4):checked ~ label:nth-of-type(4){
   z-index: 0;
}

input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked ~ label {
	transform: translate3d(-100%, 0, 0);
}

input:nth-of-type(3):checked ~ label {
	transform: translate3d(-200%, 0, 0);
}

input:nth-of-type(4):checked ~ label {
	transform: translate3d(-300%, 0, 0);
}

label {
	background: #444;
	background-size: cover;
	font-size: 3rem;
}

label[for="diamonds"],
label[for="hearts"] {
	background: #cc0000;
}

label:before,
label:after {
	color: white;
	display: block;
	background: rgba(255,255,255,0.2);
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	vertical-align: middle;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}

.sec2
{
	position: relative;
	padding: 50px;
	background: #fff;
}

h2
{
	font-size: 3rem;
	margin-bottom: 10px;
	color: #666;
	padding-top: 130px;
	vertical-align: inherit;
	text-align: center;
}

.sec2 h1
{
	font-size: 2.5rem;
	margin-bottom: 10px;
	color: #666;
	padding-left: 2rem;
}


.sec3
{
	position: relative;
    padding: 50px;
    background: #fff;
}

.sec3 h2
{
	font-size: 3rem;
	color: #666;
}

.sec3 h1
{
	font-size: 2.5rem;
	margin-bottom: 10px;
	color: #666;
}

.sec3 .About .row .content p
{
	padding: 0 0px;
	color: #666;
	font-size: 1.5rem;
	vertical-align: inherit;
}


.sec3 .user {
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.sec3 ul
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec3 ul li
{
	list-style: none;
	margin-top: 20px;
}

.sec3 ul li a
{
	text-decoration: none;
	padding: 6px 15px;
	color: #000;
	border-radius: 20px;
}

.sec3 ul li a:hover
{
	background: #000;
	color: #fff;
}

.sec3 .box-container2{
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
}

.sec3 .box-container2 .box2{
	flex: 1 1 30rem;
	box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
	border-radius: .5rem;
	border: .1rem solid rgba(0,0,0,.1);
	position:relative;
}

.sec3 .box-container2 .box2 .discount{
	position: absolute;
	top: 1rem; left: 1rem;
	padding: .7rem 1rem;
	font-size: 1rem;
	color: #232854;
	background: rgba(183, 213, 229, .100);
	z-index: 1;
	border-radius: .5rem;
}

.sec3 .box-container2 .box2 .image{
	position: relative;
	text-align: center;
	padding-top: 2rem;
	overflow: hidden
}

.sec3 .box-container2 .box2 .image img{
	height: 25rem;
	padding: 2rem;
}

.sec3 .box-container2 .box2:hover .image img{
	transform: scale(1.1)
}

.sec3 .box-container2 .box2 .image .icons{
	position: absolute;
	bottom: -7rem; left: 0; right: 0;
	display: flex;
}

.sec3 .box-container2 .box2:hover .image .icons{
	bottom: 0;
}

.sec3 .box-container2 .box2 .image .icons a{
	text-align: center;
	padding: 1rem;
	height: 3rem;
	line-height: 1rem;
	font-size: 1.5rem;
	width: 100%;
	background: #232854;
	color: #fff;
	
}

.sec3 .box-container2 .box2 .image .icons a:hover{
	background: #333;
}

.sec3 .box-container2 .box2 .content{
	padding: 1.5rem;
	text-align: left;
}


.sec3 .box-container2 .box2 .content h3{
	font-size: 2rem;
	color: #333;
}

.sec3 .box-container2 .box2 .content .price{
	font-size: 1.5rem;
	color: #000;
	font-weight: bolder;
	padding-top: 1rem;
}

.sec3 .box-container2 .box2 .content .price span{
	font-size: 1rem;
	color: #999;
	font-weight: lighter;
}


.About .row{
	display: flex;
	align-items: center;
	gap: 2rem;
	flex-wrap: wrap;
	padding: 2rem 0;
	padding-bottom: 3rem;
}

.About .row .video-container{
	flex: 1 1 40rem;
	position: relative;
}

.About .row .video-container img{
	width: 100%;
	border: 1.5rem solid #fff;
	border-radius: .5rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	height: 100%;
	object-fit: cover;
}

.About .row .video-container h3{
	position: absolute;
	top: 50%; transform: translateY(-50%);
	font-size: 3rem;
	background: #fff;
	width: 100%;
	padding: 1rem 2rem;
	text-align: center;
	mix-blend-mode: screen;
}

.About .row .content{
	flex: 1 1 40rem;
}

.About .row .content h3{
	font-size: 2rem;
	color: #666;
}

.About .row .content p{
	font-size: 1rem;
	color: #999;
	padding: .5rem 0;
	padding-top: 1rem;
	line-height: 1.5;
}











/* media queries */
@media (max-width:991px){
	
	html{
		font-size: 55%;
	}
	
	header{
		padding: 2rem;
	}
	
	section{
		padding: 2rem;
	}
	
	.home{
		background-position: left;
	}
}

@media (max-width:768px){
	
	header .fa-bars{
		display: block;
	}
	
	header .navbar{
		position:absolute;
		top:100%; left: 0; rigth:0;
		background: #eee;
		border-top: .1rem solid rgba(0,0,0,.1);
		clip-path: polygon(0 0, 100% 0, 100% 0, 100% 0, 0 0);
	}
	
	header #toggler:checked ~ .navbar{
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
	
	header .navbar a{
		margin: 1.5rem;
		padding: 1.5rem;
		background: #fff;
		border: .1rem solid rgba(0,0,0,.1);
		display: block;
	}
	
	.home .content h3{
		font-size: 5rem;
	}
	
	.home .content span{
		font-size: 2.5rem;
	}
}

@media (max-width:450px){
	
	html{
		font-size: 50%;
	}
	
	.heading{
		font-size: 3rem;
	}
	
}